    <section class="voyager_top_bar hero">
        <header>
          <div class="row">
        
            <nav class="top-bar" data-topbar role="navigation">
              
             <!--    Start Logo    -->
             <ul class="title-area">
              <li class="name">
                <a href="/" class="logo">
                  <img src="../assets/img/VF_logo_full_white.png" class="img_logo"/>
                </a>
              </li>
                <span class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></span>
              </li>
            </ul>  
            <!--    End Logo    -->
              
              {% include page/_menu.html %}

            </nav>
          </div>
        </header>
      </section>