<!--  Start Services Section  -->
<section class="services" id="services">     

    <!--    Start Services Titles    -->
    <div class="row">        
      <h1 class="mean_title">Areas of focus</h1>
      <h2 class="sub_title">To support our mission we are active in multiple areas.</h2> 
    </div>
    <!--    End Services Titles    -->

    <!--    Start Services List    -->
    <div class="row services_list">
      <div class="small-12 medium-4 large-4 columns">
        <img src="assets/img/icon2.png" alt="" title="" class="serv_icon"/>
        <h2 class="title">Community</h2>
        <p>
          By running various meetups, hackatons and interviews we will educate people and encourage collaboration.
        </p>
      </div>

      <div class="small-12 medium-4 large-4 columns">
        <img src="assets/img/icon1.png" alt="" title="" class="serv_icon"/>
        <h2 class="title">Collaboration</h2>
        <p>We will provide space and tools to allow global collaboration. Community driven research will be the fuel for discussion and projects we support.   </p>
      </div>

      <div class="small-12 medium-4 large-4 columns">
        <img src="assets/img/icon3.png" alt="" title="" class="serv_icon"/>
        <h2 class="title">Support</h2>
        <p>For selected global impact projects we will provide structured mentorship increase exposure and facilitate project progress. </p>
      </div>
    </div>
    <!--    End Services List    -->

     <!--    Start Button    -->
     <div class="btn_holder">
        <a href="#signup" class="btn_fancy">
          <div class="solid_layer"></div>
          <div class="border_layer"></div>
          <div class="text_layer">Get In Touch</div>
        </a>
      </div>
      <!--    End Button    -->

    </section>
    <!--  End Services Section  -->