    <!--  Start Hero Section  -->
    <section class="hero">
        <header>
          <div class="row">
        
            <nav class="top-bar" data-topbar role="navigation">
              
              <!--    Start Logo    -->
              <ul class="title-area">
                <li class="name">
                  <a href="/" class="logo">
                    <h1>voyagerfoundation<span class="tld">.org</span></h1>
                  </a>
                </li>
                  <span class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></span>
                </li>
              </ul>  
              <!--    End Logo    -->
              
              {% include homepage/_menu.html %}

            </nav>
          </div>
        </header>
  
        <!--    Start Hero Caption    -->
        <section class="caption">
          <div class="row">
            <h1 class="mean_cap">{{ site.title | default: site.github.repository_name }}</hA>
            <h2 class="sub_cap">{{ site.description }}</h2>
            <a href="#services" class="btn_details" id="more_details"><span>More Details</span> <img src="assets/img/btn_arrow.png" alt="" src="" class="arrow"></a>
          </div>
        </section>
        <!--    End Hero Caption    -->
  
      </section>
      <!--  End Hero Section  -->