<!--  Start Call To Action Section  -->
<section class="cta" id="signup">
    <div class="row">

      <!--    Start CTA Titles    -->
      <h1 class="title">Sign for Voyager updates.</h1>
      <h2 class="sub_title">Keep up to date with Voyager events and collective work.</h2>
      <!--    End CTA Titles    -->
    </div>

      <script type="text/javascript">
        function submitMailchimp(){
          document.forms["mc-embedded-subscribe-form"].submit();
        }
        </script>

      <div class="row display">
        <div class="columns large-2"><!-- ... --></div>
        
        <div id="mc_embed_signup_scroll" class="columns large-2"></div>
          <form action="https://voyagerfoundation.us17.list-manage.com/subscribe/post?u=8d7f8599689475c3ad5d65c60&amp;id=c2a4775135" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d7f8599689475c3ad5d65c60_c2a4775135" tabindex="-1" value=""></div>
          </form>
        </div>

        <div class="columns large-2"><!-- ... --></div>
    </div>
    <div class="row"> 
      <!--    Start Button    -->
      <a href="javascript:submitMailchimp()" class="btn_fancy" id="sumbit_mailinglist">
        <div class="solid_layer"></div>
        <div class="border_layer"></div>
        <div class="text_layer">Sign up!</div>
      </a>
      <!--    End Button    -->
    </div>
    
  </section>
  <!--  End Call To Action Section  -->