 <!--  Start Testimonials Section  -->
 <section class="testimonials" id="testimonials">
    <div class="row">
      <div class="slider_container">
        <div id="carousel">
          
          <div class="tesimonial">
            <img src="assets/img/portraits/filip_with_mic.png" title="" alt="">
            <span class="name">What & How</span>
            <p>Voyager brings most time-effective way to bringing value to people and our planet.</p>
            <span class="author">Filip Jakubowski - Founder</span>
          </div>

          <div class="tesimonial">
            <img src="assets/img/icon4.png" title="" alt="">
            <span class="name">Matt Lee</span>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <span class="author">Matt Lee - Co-Founder</span>
          </div>

          <div class="tesimonial">
            <img src="assets/img/icon4.png" title="" alt="">
            <span class="name">Nina Bajon</span>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <span class="author">Nina Bajon - Co-Founder</span>
          </div>

        </div>          
      </div>

      <!--    Start Testimonials Pagination    -->
      <nav class="pagination">
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#" class="selected">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </nav>
      <!--    End Testimonials Pagination    -->

    </div>
  </section>
  <!--  End Testimonials Section  -->