 <!--  Start Testimonials Section  -->
 <section class="testimonials" id="testimonials">
    <div class="row">
      <div class="slider_container">
        <div id="carousel">
          
          <div class="tesimonial">
            <img src="assets/img/portraits/filip_with_mic.png" title="" alt="">
            <span class="name">What & How</span>
            <p>Voyager brings most time-effective way to bringing value to people and our planet.</p>
            <span class="author">Filip Jakubowski - Founder</span>
          </div>

          <div class="tesimonial">
            <img src="assets/img/icon4.png" title="" alt="">
            <span class="name">Matt Lee</span>
            <p>Voyager is taking a giant leap for mankind, It’s a culture change, It’s the beginning of a new era, Its hope.</p>
            <span class="author">Matt Lee - Co-Founder</span>
          </div>

        </div>          
      </div>

      <!--    Start Testimonials Pagination    -->
      <nav class="pagination">
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#" class="selected">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </nav>
      <!--    End Testimonials Pagination    -->

    </div>
  </section>
  <!--  End Testimonials Section  -->