<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}" class="no-js">
  {% include head.html %}

  <body>

    {% include homepage/_hero.html %}

    {% include homepage/_areas.html %}

    {% include homepage/_quotes.html %}

    {% include homepage/_testimonials.html %}

    {% include homepage/_mailchimp_signup.html %}

    {% include homepage/_map.html %}

    {% include footer.html %} 

    <!--    Start Back To Top    -->
    <a href="#" class="btn_fancy" id="back_top">
      <div class="solid_layer"></div>
      <div class="border_layer"></div>
      <div class="text_layer"><img src="assets/img/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
    </a>
    <!--    End Back To Top    -->

    {% include scripts.html %}

  </body>
</html>
