<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}" class="no-js">
  {% include head.html %}

  <body>

    {% include page/_top_bar.html %}

    <!--  Start Vision Section  -->
      <section class="page-content" id="page-content">     

          <!--    Start Services Titles    -->
              {{ content }}
          <!--    End Services Titles    -->
      </section>

      <!--  End Vision Section  -->

    {% include footer.html %} 

    {% include page/_scripts.html %}

  </body>
</html>
